<!-- Loop over each object in the post array -->
<div class="posts">
    {{#each blogs as |blog| }}
        <article class="card">
            <div class="card-header flex-row justify-space-between">
                <h2>
                    <a href="/blog/{{blog.id}}">{{blog.title}}</a>
                </h2>
                <div>
                    Posted by {{blog.user.name}} on {{format_date post.createdAt}}
                </div>
            </div>
            <div class="card-body">
                {{blog.text}}
            </div>
        </article>
    {{/each}}
</div>